<h4 appTitleStyle>Lista de Alumnos</h4>

<div class="row">
    <button mat-button class="add-button col-md-3" (click)="openModalAdd()">
        <mat-icon style="color: white">add_box</mat-icon>
        <span style="color: white">Agregar Alumno</span>
    </button>

    <button mat-button class="add-button col-md-3" (click)="activeStudents()">
        <mat-icon style="color: white">remove_red_eye</mat-icon>
        <span style="color: white">Mostrar Alumnos Activos</span>
    </button>
</div>

<div>
    <mat-table [dataSource]="(dataSource$ | async)!">
        <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef>Nombre y Apellido</th>
            <td mat-cell *matCellDef="let element">{{element | nameSurname}}</td>
        </ng-container>
    
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <ng-container matColumnDef="cellphone">
            <th mat-header-cell *matHeaderCellDef>Teléfono</th>
            <td mat-cell *matCellDef="let element">{{element.cellphone}}</td>
        </ng-container>

        <ng-container matColumnDef="bornDate">
            <th mat-header-cell *matHeaderCellDef>Fecha de Nacimiento</th>
            <td mat-cell *matCellDef="let element">{{element.bornDate | date:'dd/MM/YYYY'}}</td>
        </ng-container>
        
        <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef>Activo</th>
            <td mat-cell *matCellDef="let element">{{element.isActive | booleanToText:'Si':'No'}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element; let student = index">
                <button mat-button color="accent" (click)="openModalEdit(student)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-button color="warn" (click)="removeStudent(student)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-button (click)="seeDetails(element)">
                    <mat-icon>info</mat-icon>
                </button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </mat-table>
</div>