<h4 appTitleStyle>Crear Inscripción</h4>

<div mat-dialog-content class="dialog" *ngIf="inscriptionForm" >
    <form [formGroup]="inscriptionForm">
        <div class="row">
            <mat-form-field class="col-md-6">
                <mat-label>Alumno</mat-label>
                <mat-select formControlName="student" required>
                    <mat-option *ngFor="let s of students$ | async" [value]="s">{{s | nameSurname}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <mat-label>Curso</mat-label>
                <mat-select formControlName="course" required>
                    <mat-option *ngFor="let c of courses$ | async" [value]="c">{{c.courseName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions *ngIf="inscriptionForm" >
    <button mat-button class="btn btn-secondary" (click)="closeForm()">Cerrar</button>
    <button mat-flat-button (click)="addInscription()" class="btn btn-purple" [disabled]="!inscriptionForm.valid">Crear</button>
</div>
