<h4 appTitleStyle>{{action}} Alumno</h4>

<div mat-dialog-content class="dialog">
    <form [formGroup]="studentForm">
        <div class="form-group mb-3">
            <label class="form-label">Nombre</label>
            <input formControlName="name" type="text" class="form-control" required>
            <div class="valid" *ngIf="studentForm.controls['name'].dirty && studentForm.controls['name'].valid">Campo correcto</div>
            <div class="invalid" *ngIf="studentForm.controls['name'].dirty && studentForm.controls['name'].errors?.['required']">Este campo no puede ser vacío</div>
            <div class="invalid" *ngIf="studentForm.controls['name'].dirty && studentForm.controls['name'].errors?.['maxlength']">Este campo no puede tener más de 15 caracteres</div>
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Apellido</label>
            <input formControlName="surname" type="text" class="form-control">
            <div class="valid" *ngIf="studentForm.controls['surname'].dirty && studentForm.controls['surname'].valid">Campo correcto</div>
            <div class="invalid" *ngIf="studentForm.controls['surname'].dirty && studentForm.controls['surname'].errors?.['required']">Este campo no puede ser vacío</div>
            <div class="invalid" *ngIf="studentForm.controls['surname'].dirty && studentForm.controls['surname'].errors?.['maxlength']">Este campo no puede tener más de 15 caracteres</div>
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control">
            <div class="valid" *ngIf="studentForm.controls['email'].dirty && studentForm.controls['email'].valid">Campo correcto</div>
            <div class="invalid" *ngIf="studentForm.controls['email'].dirty && studentForm.controls['email'].errors?.['required']">Este campo no puede ser vacío</div>
            <div class="invalid" *ngIf="studentForm.controls['email'].dirty && studentForm.controls['email'].errors?.['email']">Este campo tiene un formato incorrecto</div>
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Teléfono</label>
            <input formControlName="cellphone" type="number" class="form-control">
            <div class="valid" *ngIf="studentForm.controls['cellphone'].dirty && studentForm.controls['cellphone'].valid">Campo correcto</div>
            <div class="invalid" *ngIf="studentForm.controls['cellphone'].dirty && studentForm.controls['cellphone'].errors?.['required']">Este campo no puede ser vacío</div>
            <div class="invalid" *ngIf="studentForm.controls['cellphone'].dirty && studentForm.controls['cellphone'].errors?.['pattern']">Este campo tiene un formato incorrecto</div>
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Fecha de Nacimiento</label>
            <input formControlName="bornDate" type="date" class="form-control">
            <div class="valid" *ngIf="studentForm.controls['bornDate'].dirty && studentForm.controls['bornDate'].valid">Campo correcto</div>
            <div class="invalid" *ngIf="studentForm.controls['bornDate'].dirty && studentForm.controls['bornDate'].errors?.['required']">Este campo no puede ser vacío</div>
        </div>
        <div class="form-group mb-3">
            <div class="form-check">
                <input formControlName="isActive" type="checkbox" class="form-check-input">
                <label class="form-check-label" for="exampleCheck1">Activo</label>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button class="btn btn-secondary" (click)="closeForm()">Cerrar</button>
    <button mat-flat-button (click)="addStudent()" class="btn btn-purple" [disabled]="studentForm.invalid">{{action}}</button>
</div>
