<form [formGroup]="loginForm" (ngSubmit)="login()">
    <h1>Account Login</h1>
    <div class="mb-3">
        <label for="exampleInput1" class="form-label">Usuario</label>
        <input formControlName="username" type="text" class="form-control" id="exampleInput1">
        <div class="valid" *ngIf="loginForm.controls['username'].dirty && loginForm.controls['username'].valid">Campo correcto</div>
        <div class="invalid" *ngIf="loginForm.controls['username'].dirty && loginForm.controls['username'].errors?.['required']">Campo usuario no puede ser vacío</div>
        <div class="invalid" *ngIf="loginForm.controls['username'].dirty && loginForm.controls['username'].errors?.['minlength']">Campo usuario tiene que tener mínimo 4 caracteres</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <div class="input-group">
            <input formControlName="password" type="password" class="form-control" id="password">
            <div class="input-group-append">
                <button id="password-btn" (click)="showOrHidePassword()" class="btn btn-purple" type="button">{{showText}}</button>
            </div>
        </div>
        <div class="valid" *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].valid">Campo correcto</div>
        <div class="invalid" *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].errors?.['required']">Campo contraseña no puede ser vacío</div>
        <div class="invalid" *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].errors?.['minlength']">Campo contraseña tiene que tener mínimo 4 caracteres</div>
    </div>
    <div class="mb-3">
        <mat-slide-toggle formControlName="isAdmin"><label>Administrador</label></mat-slide-toggle>
    </div>
    <button type="submit" class="btn btn-purple" [disabled]="loginForm.invalid">Ingresar</button>
</form>