<nav class="nav flex-column">
    <button mat-button class="menu-button nav-link">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
      <br>
      <a routerLink="students" mat-button class="menu-button nav-link">
        <mat-icon>person</mat-icon>
        <span>Alumnos</span>
      </a>
      <br>
      <button mat-button class="menu-button nav-link">
        <mat-icon>people</mat-icon>
        <span>Cursos</span>
      </button>
      <br>
      <button mat-button class="menu-button nav-link">
        <mat-icon>person_add</mat-icon>
        <span>Inscripciones</span>
      </button>
      <br>
      <mat-divider></mat-divider>
      <br>
      <button mat-button class="menu-button nav-link">
        <mat-icon>help</mat-icon>
        <span>Ayuda</span>
      </button>
</nav>