<nav class="nav flex-column">
    <button mat-button class="menu-button nav-link">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
      <br>
      <button mat-button class="menu-button nav-link">
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
      </button>
      <br>
      <button mat-button class="menu-button nav-link">
        <mat-icon>people</mat-icon>
        <span>Contactos</span>
      </button>
      <br>
      <mat-divider></mat-divider>
      <br>
      <button mat-button class="menu-button nav-link">
        <mat-icon>help</mat-icon>
        <span>Ayuda</span>
      </button>
</nav>