span{
    color: white;
}

mat-icon{
    color:white;
}

.nav{
    margin: 10px;
    width: 200px;
    background-color: #673ab7;
    border-radius: 5px;
    padding: 10px;
}

.nav-link{
    color: #673ab7;
}

.nav-link:hover{
    background-color: #774fbd;
    color: #673ab7;
}
